<footer class="footer">
    <div class="container text-center">
        <!-- <a class="cc-raspberry btn btn-link" href="https://www.raspberrypi.org/" target="_blank">
            <p><i>This Website is hosted on my</i></p>
            <i class="fab fa-raspberry-pi fa-3x " aria-hidden="true"></i>
        </a> --><br>
        <div><img src="assets/images/rasp.png" width="50px" style="padding:10px 10px 10px 10px">
            <img src="assets/images/angu.png" width="50px" style="padding:10px 10px 10px 10px">
            <img src="assets/images/boot.png" width="50px" style="padding:10px 10px 10px 10px">
            <img src="assets/images/nginx.png" width="60px" style="padding:10px 10px 10px 10px">
            <img src="assets/images/pwsh.png" width="60px" style="padding:10px 10px 10px 10px">
    </div>
            </div><br>
    <div class="text-center text-muted">
        <p style="font-size:7px">&copy; All rights reserved.</p>
    </div>
</footer>