<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <img src="assets/images/favicon-96x96.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Yameo</div>
                                        <div class="h6 mt-0 title">.NET Developer</div>
                                        <div class="title">07.2018 - 01.2021</div>
                                        <p align="justify">Worked as a .NET Developer to develop two backend systems:</p>
                                        <p><a href="http://www.nhis.gov.gh/nhia.aspx">http://www.nhis.gov.gh/nhia.aspx</a></p>
                                        <p><a href="https://agri-wallet.com/">https://agri-wallet.com/</a></p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Software System Rewriting</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">.NET</li>
                                                        <li class="non_list">MS SQL, Postgres</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">Jenkins</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Zabbix</li>
                                                        <li class="non_list">IIS</li>
                                                        <li class="non_list">Nginx</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <img src="assets/images/logo-sii.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Sii Polska</div>
                                        <div class="h6 mt-0 title">Software Engineer</div>
                                        <div class="title">06.2015 - 07.2017</div>
                                        <p align="justify">Worked as a Software Engineer/Developer to maintain banking software system.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Maintenance existing functionalities</li>
                                                <li class="non_list">Developing new functionalities</li>
                                                <li class="non_list">Integration with external services</li>
                                                <li class="non_list">Updating documentation</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">.NET</li>
                                                        <li class="non_list">MS SQL</li>
                                                        <li class="non_list">IIS</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">WPF</li>
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">SVN</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <img src="assets/images/younity.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Younity Polska</div>
                                        <div class="h6 mt-0 title">Junior C# Developer</div>
                                        <div class="title">06.2014 - 12.2014</div>
                                        <p align="justify">Learned and worked as a junior developer to build comparison shopping website.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">ASP .NET MVC</li>
                                                        <li class="non_list">MS SQL</li>
                                                        <li class="non_list">IIS</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <!-- <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Vaadin Web Framework</li>
                                                        <li class="non_list">Git</li> -->
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        